{% extends 'base.html' %} {% block content %}

<div class="container main_content">
    <div class="row content">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h4 class="header_text">Welcome to the Quiz Of All Things!</h4>
            <p class="header_text">Please make a start by entering your Player Name below and Go to the Quiz when ready!</p>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                    <p>{{ message }}</p> 
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form class="quiz" method="POST">
                <div class="control-group">
                    <div class="form-group">
                        <label>Player Name</label>
                        <input type="text" class="form-control" placeholder="Ready!" id="username" name="username" autocomplete="False" required data-validation-required-message="Please enter your name.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="form-group quiz">
                    <button type="submit" class="btn btn-primary">Go to Quiz</button>
                </div>
            </form>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <h5>How to Play</h5>
            <p class="header_text">
                When you start the quiz you will be shown a question with choices,
                select an answer by clicking on it then guess when ready. You get
                3 guesses and you will be able to see any wrong guesses. When you
                have done all the questions you can see the leaderboard. If you 
                leave without doing all questions <strong>your progress will be lost.</strong>
            </p>
        </div>
    </div>
</div>

{% endblock %}